.improv_text {
  background-color: #F4F5F5;
  padding: 80px 0;
  padding-left: 66px;
}

.improv_left h2 {
  font-weight: 500;
  font-size: 16px;
  color: #282938;
}

.improv_left h3 {
  font-weight: 600;
  padding-top: 10px;
  font-size: 38px;
  color: #282938;
}

.improv_text p {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-top: 15px;
}

.improv_right{
  padding-top: 30px;
}

.improv_right h2 {
  font-weight: 600;
  font-size: 38px;
  color: #282938;
}