#about_banner {
  padding: 128px 0;
}

.ab_text h2 {
  font-weight: 500;
  font-size: 18px;
  color: #282938;
}

.ab_text h2 {
  font-weight: 500;
  font-size: 18px;
  color: #282938;
}

.ab_text h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #282938;
  padding-top: 10px;
}

.ab_text p {
  padding-top: 25px;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
}