#brand {
  padding-bottom: 127px;
}

.feat_brand{
  padding-bottom: 0 !important;
  padding-top: 112px;
}

.counter_part span {
  font-weight: 600;
  font-size: 38px;
  color: #282938;
}

.counter_part p {
  font-size: 16px;
  color: #282938;
  opacity: 0.7;
}

.brand_img{
  text-align: right;
}