.feat_client{
  padding-top: 80px;
}

.feat_rivision{
  margin-top: 125px;
  padding: 128px 0 ;
  background-color: #F4F6FC;
}

.feat_support{
  padding: 128px 0;
}

.feat_delivery{
  background: rgba(252, 217, 128, 0.1);
  padding: 128px 0 ;
}