#mv {
  background-color: #EEF4FA;
  padding: 128px 0;
}

.mv_text h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}

.mv_text h3 {
  font-weight: 600;
  font-size: 38px;
  color: #282938;
  text-transform: capitalize;
  padding-top: 15px;
}

.mv_text p {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-top: 15px;
}

.vision_main{
  margin-top: 96px;
}