.menu{
  background-color: #1C1E53;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.menu_ex{
  background-color: #1C1E53;
  animation: menu_ex 1s;
  -webkit-animation: menu_ex 1s;
}
@keyframes menu_ex {
  0%{
    top: -50px;
  }
  100%{
    top: 0;
  }
}

.menu img{
  padding: 24px 0;
}
.menu ul{
  display: flex;
  align-items: center;
}
.menu ul li a{
  padding: 0 !important;
  font-size: 16px;
  font-weight: 500;
  color: #BBBBCB !important;
  margin-left: 30px !important;
  text-transform: capitalize;
}

.menu ul li a:hover{
  color: white !important;
}

.menu ul li a.active{
  color: white !important;
}

.menu ul li .btn{
  padding: 16px 48px !important;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  margin-left: 43px !important;
  transition: all 0.3s ease ;
  -webkit-transition: all 0.3s ease ;
  -moz-transition: all 0.3s ease ;
  -ms-transition: all 0.3s ease ;
  -o-transition: all 0.3s ease ;
  color: white !important;
}
.menu ul li .btn:hover{
background-color: #FCD980;
color: black !important;
border-color: #FCD980;
}

.menu ul li .btn.active{
  background-color: #FCD980;
  color: black !important;
  border-color: #FCD980;
  }