#privacy {
  padding: 128px 0;
}

.privacy_head h2 {
  font-weight: 600;
  font-size: 48px;
  color: #282938;
  text-transform: capitalize;
}

.privacy_head p {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-top: 16px;
}


.privacy_top {
  padding-top: 60px;
}

.privacy_top h2 {
  font-weight: 600;
  font-size: 38px;
  color: #282938;
}

.privacy_top p {
  padding-top: 24px;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  text-align: justify;
}
.privacy_top a,
.privacy_bottom a{
  color: #2405F2;
}

.privacy_bottom h2{
  padding-top: 35px;
  font-weight: 600;
  font-size: 38px;
  color: #282938;
}
.privacy_bottom p{
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-top: 16px;
}